body {
    background-color: #59545c;

}

.main-container {
    margin: 0 auto;
    display: grid;
    height: 100vh;
    width: 120vh;
    grid-template-columns: .2fr .8fr .2fr;
    grid-template-rows: 20% 80%;
}

.title {
    color: #83f0fc;
    font-family: 'Chakra Petch';
    margin: auto;
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    font-size: 5vh;
}

#logo-left {
    height: 80%;
    width: 80%;
    margin: auto;
    grid-column: 1;
    grid-row: 1;
}

#logo-right {
    height: 80%;
    width: 80%;
    margin: auto;
    grid-column: 3;
    grid-row: 1;
}

.gameboard-container {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    width: 100%;
    
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: .5fr repeat(8, 1fr) .5fr;
}

.gameboard-space {
    /* border: 1px solid black; */
    background: -moz-radial-gradient(transparent 60%, rgba(0, 0, 255, 1) 60%);
    background: -webkit-radial-gradient(transparent 60%, rgba(0, 0, 255, 1) 60%);
    background: -ms-radial-gradient(transparent 60%, rgba(0, 0, 255, 1) 60%);
    background: -o-radial-gradient(transparent 60%, rgba(0, 0, 255, 1) 60%);

}

#start-button {
    grid-column: 4 / 7;
    grid-row: 5;
}

#space0 {
    grid-column: 2;
    grid-row: 3;
}

#space1 {
    grid-column: 3;
    grid-row: 3;
}

#space2 {
    grid-column: 4;
    grid-row: 3;
}

#space3 {
    grid-column: 5;
    grid-row: 3;
}

#space4 {
    grid-column: 6;
    grid-row: 3;
}

#space5 {
    grid-column: 7;
    grid-row: 3;
}

#space6 {
    grid-column: 8;
    grid-row: 3;
}
/* new row */
#space7 {
    grid-column: 2;
    grid-row: 4;
}

#space8 {
    grid-column: 3;
    grid-row: 4;
}

#space9 {
    grid-column: 4;
    grid-row: 4;
}

#space10 {
    grid-column: 5;
    grid-row: 4;
}

#space11 {
    grid-column: 6;
    grid-row: 4;
}

#space12 {
    grid-column: 7;
    grid-row: 4;
}

#space13 {
    grid-column: 8;
    grid-row: 4;
}
/* new row */
#space14 {
    grid-column: 2;
    grid-row: 5;
}

#space15 {
    grid-column: 3;
    grid-row: 5;
}

#space16 {
    grid-column: 4;
    grid-row: 5;
}

#space17 {
    grid-column: 5;
    grid-row: 5;
}

#space18 {
    grid-column: 6;
    grid-row: 5;
}

#space19 {
    grid-column: 7;
    grid-row: 5;
}

#space20 {
    grid-column: 8;
    grid-row: 5;
}
/* new row */
#space21 {
    grid-column: 2;
    grid-row: 6;
}

#space22 {
    grid-column: 3;
    grid-row: 6;
}

#space23 {
    grid-column: 4;
    grid-row: 6;
}

#space24 {
    grid-column: 5;
    grid-row: 6;
}

#space25 {
    grid-column: 6;
    grid-row: 6;
}

#space26 {
    grid-column: 7;
    grid-row: 6;
}

#space27 {
    grid-column: 8;
    grid-row: 6;
}
/* new row */
#space28 {
    grid-column: 2;
    grid-row: 7;
}

#space29 {
    grid-column: 3;
    grid-row: 7;
}

#space30 {
    grid-column: 4;
    grid-row: 7;
}

#space31 {
    grid-column: 5;
    grid-row: 7;
}

#space32 {
    grid-column: 6;
    grid-row: 7;
}

#space33 {
    grid-column: 7;
    grid-row: 7;
}

#space34 {
    grid-column: 8;
    grid-row: 7;
}
/* new row */
#space35 {
    grid-column: 2;
    grid-row: 8;
}

#space36 {
    grid-column: 3;
    grid-row: 8;
}

#space37 {
    grid-column: 4;
    grid-row: 8;
}

#space38 {
    grid-column: 5;
    grid-row: 8;
}

#space39 {
    grid-column: 6;
    grid-row: 8;
}

#space40 {
    grid-column: 7;
    grid-row: 8;
}

#space41 {
    grid-column: 8;
    grid-row: 8;
}

.tester {
    grid-column: 2 / 9;
    grid-row: 3 / 9;
    background: -moz-radial-gradient(transparent 60%, rgba(0, 0, 0, 1) 60%);
    background: -webkit-radial-gradient(transparent 60%, rgba(0, 0, 0, 1) 60%);
    background: -ms-radial-gradient(transparent 60%, rgba(0, 0, 0, 1) 60%);
    background: -o-radial-gradient(transparent 60%, rgba(0, 0, 0, 1) 60%);

}